<html>
	<h1>
		{{ .title }}
	</h1>
<head>
    <title>Raspberry Py</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/main.css" />
</head>


<body class="subpage">


<header id="header">
    <div class="inner">
        <a href="index.php" class="logo">Raspberry Py</a>
        <nav id="nav">
            <a href="index">Home</a>
            <a href="termo">Monitor</a>
        </nav>	
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>

</header>

</html>
