<html>

<head>
        <title>Raspberry Py</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
</head>




<body class="subpage">


    <header id="header">
        <div class="inner">
            <a href="index.php" class="logo">Raspberry Py</a>
            <nav id="nav">
                <a href="index">Home</a>
                <a href="termo">Monitor</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle">
                <span class="fa fa-bars"></span>
            </a>
        </div>

    </header>


    <br>

    <div class="col-md-8">
        <form id="myForm">
                <label class="custom-control custom-radio">
                        <input id="myRadiored" name="myRadio" type="radio" value="red" checked="checked"  class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Red</span>
                </label>
                <label class="custom-control custom-radio">
                        <input id="myRadioGreen" name="myRadio" type="radio" value="green" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Green</span>
                </label>
        </form>
    </div>

    <div class="col-md-8">
        <table cellpadding="0" cellspacing="0" id="our_table">
            <tr>
                <td></td>
                <td class="noselect">Mon</td>
                <td class="noselect">Thus</td>
                <td class="noselect">Wed</td>
                <td class="noselect">Thu</td>
                <td class="noselect">Fri</td>
                <td class="noselect">Sat</td>
                <td class="noselect">Sun</td>
            </tr>
            <tr>
                    <td class="noselect">00:00</td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
            </tr>
            <tr>
                    <td class="noselect">00:30</td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
                    <td class="selectable"></td>
            </tr>
        </table>
        <br />
        
    </div>


    <button type="button" onclick="save();">Save</button>


    

    <script>
        $(function () {
            var isMouseDown = false,
                isHighlighted;
            var currentStyle = "red";

            $("#myForm input").on('change', function () {
                currentStyle = $('input[name="myRadio"]:checked', '#myForm').val();
            });

            $("#our_table").on("mousedown",'.selectable',
                function (e) {
                    e.stopPropagation();
                    isMouseDown = true;
                    $(this).toggleClass("highlighted-" + currentStyle);
                    isHighlighted = $(this).hasClass("highlighted-" + currentStyle);
                    return false; // prevent text selection
                })
                .on("mouseover",'.selectable',
                    function () {
                    if (isMouseDown) {
                        if (isHighlighted && "highlighted-" + currentStyle == "highlighted-red")
                            $(this).toggleClass("highlighted-green", false);
                        if (isHighlighted && "highlighted-" + currentStyle == "highlighted-green")
                            $(this).toggleClass("highlighted-red", false);
                        $(this).toggleClass("highlighted-" + currentStyle, isHighlighted);
                    }
                })
                .bind("selectstart", function () {
                    return false;
                });

            $(document)
                .mouseup(function () {
                    isMouseDown = false;
                });
        });


    </script>


    <style>
        table td {
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle;
            background-color: #ccc;
            border: 1px solid #fff;
        }

        table td.highlighted-red {
            background-color: #f00;
        }

        table td.highlighted-green {
            background-color: #0f0;
        }
    </style>

</body>

</html>